[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
remote_user = ubuntu
private_key_file = ../infra/sparklehood-dev-key.pem

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
# Optimizes SSH connections and allows ProxyJump
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
